<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Haxgen</string>
	<key>CFBundleIdentifier</key>
	<string>com.seisxis.main.Haxgen</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>www.seisxis.com</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>appicon.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>com.seisxis.main.Haxgen</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<string>$JAVAROOT/Haxgen.jar</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>apple.awt.antialiasing</key>
			<string>false</string>
		</dict>
	</dict>
</dict>
</plist>
